<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cashadmin.cashadmin" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Activities.AccountConnexionActivity"
            android:label="@string/title_activity_account_connexion"
            android:parentActivityName=".Activities.Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.Activities.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:parentActivityName=".Activities.Activities.AccountConnexionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cashadmin.cashadmin.Activities.Activities.AccountConnexionActivity" />
        </activity>
        <activity
            android:name=".Activities.Activities.SelectCategoryActivity"
            android:label="@string/title_activity_select_category"
            android:parentActivityName=".Activities.Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cashadmin.cashadmin.Activities.Activities.MainActivity" />
        </activity>
    </application>

</manifest>
